/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.qc-sidebar {
  background-color: var(--primary);
  padding: calc(var(--unit) * 3);
  color: var(--foreground);
  height: 100vh;
}

.qc-sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.qc-sidebar li {
  padding: var(--unit) calc(var(--unit) * 2);
  border-radius: calc(var(--unit) / 2);
}

.qc-sidebar li > a {
  color: var(--foreground);
  text-decoration: none;
  gap: var(--unit);
  display: flex;
}

.qc-sidebar li:hover {
  background-color: var(--primary-dark);
  cursor: pointer;
}

.qc-sidebar li:active,
.qc-sidebar li[active] {
  background-color: var(--primary-dark2);
}