@page
@using QuickConsult.Models;
@model QuickConsult.Pages.Doctor.DashboardModel
@{
}
<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<div class="doctor-dashboard-div">
    <h1 style="margin-left:50px;">You have an appointment now: <a href="">(insert link) </a></h1>
</div>
<h2 style="margin-top: 10px;">Upcoming Appointments (@Model.appointmentCount)</h2>
<table>
    <tr>
        <td>Date</td>
        <td>NRIC</td>
        <td>Patient</td>
        <td>Appoinment Link</td>
    </tr>

@foreach(Appointment appointment in Model.Appointments)
{
    <tr>
        <td>@appointment.DateTime</td>
        <td>@appointment.Patient.Nric</td>
        <td>patient name(pending update) </td>
        <td><a href="#"></a>AppointmentLink</td>
    </tr>
}
</table>
<h2 style="margin-top: 10px;">Pending Payments (#)</h2>